# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.spec
build/
dist/

ffmpeg/

# Inno Setup
install/
*.log

# Virtual environment
venv/
virtualenv/
env/
.env

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Windows
Thumbs.db

# macOS
.DS_Store

# Old versions
_old_versions/
